<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/login.css">

    <title>Register</title>

    <script>

    </script>
</head>
<body>
    {% include 'navigation.twig' %}
    <h1>Register</h1>
    <div class="login_info">
        <form action="/register" method="post">
            <input type="text" name="name" id="name" placeholder="Name" required>

            <input type="email" name="email" id="email" placeholder="E-mail" required>

            <input type="password" name="password" id="password" placeholder="Password" required>

            <input type="password" name="password_repeat" id="password_repeat" placeholder="Repeat password" required>

            <input type="submit" id="submit" value="Submit">
        </form>

        <div class="incorrect">
            {% if errors.passwordsMatch is same as(false) %} Passwords don't match <br>{% endif %}
            {% if errors.emailTaken is same as(true) %} E-mail taken <br>{% endif %}
        </div>

    </div>

</body>
</html>