body{
    font-family: Arial, monospace;
}

.login_info {
    margin-top: 200px;
    margin-left: 300px;
}

#name{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 60px;
    width: 500px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: rgba(44, 44, 44, 0);
    color: orange;
}

#email{
    margin-bottom: 5px;
    height: 60px;
    width: 500px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: rgba(44, 44, 44, 0);
    color: orange;

}

#password{
    margin-bottom: 5px;
    height: 60px;
    width: 500px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: rgba(44, 44, 44, 0)
}

#password_repeat{
    height: 60px;
    width: 500px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: rgba(44, 44, 44, 0);
}

#submit {
    width: 125px;
    height: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

h1 {
    background-color: orange;
    margin-top: 0;
    padding: 5px 5px 5px 20px;
}